.holder {
  display: flex;
  justify-content: space-between;
  width: 500px;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 5px solid black;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}


.item {
  width: 100px;
  height: 100px;
  background-color: #ccc;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.item:nth-child(1){
  order: 1;
  border-top-left-radius: 20px;
width: 250px;
background: rgb(225, 157, 30);
}
.item:nth-child(2){
  width: 33.3%;
  background: green;
  
  order: 4;

}
.item:nth-child(3) {
  order: 3;
  width: 33.3%;
  background: purple;
}

.item:nth-child(3){

}
.item:nth-child(4){
  order: 5;
  width: 33.3%;
  background: rgb(62, 184, 236);

}
.item:nth-child(5) {
  width: 250px;
  background: orange;
  border-top-right-radius: 20px;
order: 2;
}
